<head>
    <!-- Essential styles -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="css/global-style.css" rel="stylesheet" media="screen"> 
</head>
<h1 style="background-color:#FF0066;color:pink">Like Lists </br>
</h1>

<ul>
	<li><a ng-click="ctrl.showDetails()" ui-sref="{{ctrl.navStates.kShoesLikeState}}">Shoes</a></li>
	<li><a ng-click="ctrl.showDetails()" ui-sref="{{ctrl.navStates.kRestaurantsLikeState}}">Restaurants</a></li>
</ul>

<br>
<div ng-show = "ctrl.showList" ui-view="listView"
	 style="width:20%; height: 1000px; float:left; background-color: yellow;">
</div>
<div ng-show = "ctrl.showList" ui-view="detailView"
	 style="width:80%; height: 1000px; float:left; background-color: pink;">
</div>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<div common-footer></div>


