<p ng-show = "{{ctrl.showDetail}}">
<h3>Restaurants Detail <input type="image" src="http://orig08.deviantart.net/cbb7/f/2013/160/e/c/heart_button_by_bunnymallows-d68cyt3.gif
" alt="Like image" style="width:30px;height:30px"/ ng-click = "ctrl.Rest(ctrl.rest)">
</h3>
<div>
<img ng-src="{{ctrl.rest.image_url}}" alt="Restaurant image" style="width:304px;height:228px;">
<div>rating: {{ctrl.rest.rating}}</div>
website: <a href="{{ctrl.rest.website}}">{{ctrl.rest.website}}</a></br>
<div>phone: {{ctrl.rest.phone}}</div>
<div>date added: {{ctrl.rest.dateAdded.substring(0,10)}}</div>

</div></p>