<head>
    <!-- Essential styles -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen">  
</head>

<div common-header></div>

<!-- a button that goes to details page -->
<div style="background-color:pink">
	<label>Location: </label>
	<input type="text" ng-model="ctrl.location"></input>
    <button ui-sref="{{ctrl.navStates.kStoreState}}" class="btn btn-primary" style="background-color:#FF0066" ng-click="ctrl.onAddressChange(ctrl.location)">Get!
    </button>
	<ul>
		<li><a ng-click="ctrl.showDetails()" ui-sref="{{ctrl.navStates.kShoesState}}">Shoes</a></li>
		<li><a ng-click="ctrl.showDetails()" ui-sref="{{ctrl.navStates.kRestaurantsState}}">Restaurants</a></li>
	</ul><br>
	<div ng-show = "{{ctrl.showList}}" ui-view="listView"
		 style="width:20%; height: 500px; float:left; background-color: white;">
	</div>
	<div ng-show = "{{ctrl.showList}}" ui-view="detailView"
		 style="width:80%; height: 500px; float:left; background-color: white;">
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div common-footer></div>


