<h1>Welcome to the Store page</h1>


<!-- a button that goes to details page -->
</br>
<div>
	<label>Location: </label><input type="text" ng-model="ctrl.location"></input>
    <button  ui-sref="{{ctrl.navStates.kStoreState}}" class="btn btn-primary" ng-click="ctrl.onAddressChange(ctrl.location)">Get!</button>
</div>

</br>
<ul>
	<li><a ui-sref="{{ctrl.navStates.kShoesState}}">Shoes</a></li>
	<li><a ui-sref="{{ctrl.navStates.kRestaurantsState}}">Restaurants</a></li>
</ul>

</br>
<div ui-view="listView"
	 style="width:20%; height: 500px; float:left; background-color: yellow;">
</div>
<div ui-view="detailView"
	 style="width:80%; height: 500px; float:left; background-color: pink;">
</div>

