<!-- <h1>Go Get Something!</h1> -->
        <div class="pg-opt"> 
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>GO GET SOMETHING</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a ui-sref="{{ctrl.navStates.kManageState}}">Manage Account</a></li>
                        <li><a ui-sref="{{ctrl.navStates.kSignupState}}">Register</a></li>
                        <li><a ui-sref="{{ctrl.navStates.kLoginState}}">Log in</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>