
<!DOCTYPE html>
<html>  

<head>
    <!-- Essential styles -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="css/global-style.css" rel="stylesheet" media="screen"> 
</head>

<div home-header></div>

<h4>Current User: {{ctrl.loggedUser}}</h4>
{{ctrl.user}}
<div logged-in-user></div>

<div ui-view></div>
<!-- a button that goes to store page -->
<div common-footer></div>
</html>
