    <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="user-profile-img">
                            <img src="https://pbs.twimg.com/media/BNAq6BVCcAAjmRX.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9">                     
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                                <li class="active"><a data-toggle="tab">About me</a></li>
                                <li><a ui-sref="{{ctrl.navStates.kLikesState}}" data-toggle="tab">My Likes</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body">
                                        <dl class="dl-horizontal style-2">
                                            <h3 class="title title-lg">Personal information</h3>
                                            
                                            <dt>Your first name</dt>
                                            <dd>
                                                <span class="pull-left">{{ctrl.user.fname}}</span>
                                                <a href="#" class="btn btn-xs btn-base btn-icon fa-edit pull-right"><span>Edit</span></a>
                                            </dd>
                                            <hr>

                                            <dt>Your last name</dt>
                                            <dd>
                                                <span class="pull-left">{{ctrl.user.lname}}</span>
                                                <a href="#" class="btn btn-xs btn-base btn-icon fa-edit pull-right"><span>Edit</span></a>
                                            </dd>
                                            <hr>

                                            <dt>Username</dt>
                                            <dd>
                                            <span class="pull-left">{{ctrl.user.username}}</span>
                                                <a href="#" class="btn btn-xs btn-base btn-icon fa-edit pull-right"><span>Edit</span></a>
                                            </dd>
                                            <hr>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

